@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Roboto'); 

/* {通用样式开始} */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* {通用样式结束} */
 
/* {导航栏基础样式} */
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    padding: 0 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}

/* {导航栏下滑改变样式} */
.header_bg
{
    background: #ffffff;
    color: rgb(39, 77, 245);
}

.nextTextColor{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}
 
.nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
 
.nav ul li
{
    list-style: none;
}
 
.nav ul li a
{
    padding: 0 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}
 
.brand
{
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}

